*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    margin-top: 100px;
    text-align: center;
}

#cv
{
    height: 950px;
    width: 780px;
    margin: auto;
    border: 1px solid black;
    margin-top: 100px; 
    margin-bottom: 200px;
    
    display: flex;
}

#partie-gauche
{
    width: 35%;
    background-color: rgb(170, 219, 213);

}

#image
{
    height: 200px;
    width: 200px;
    background-image: url('2md.jpg');
    background-size: cover;
    border-radius: 50%;
    margin:auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

#mes-info 
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

.info:nth-child(2)
{
    margin-top: 10px;
    margin-bottom: 10px;
}

i
{
    width: 10px;
    margin-right: 10px;
}

.info span 
{
    font-size: small;
 
}

.titre
{
    width: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
}

.titre hr 
{
    width: 50px;    
    height: 0;
    border-color: white;
    border-width: 3px;
    align-self: center;
}

.titre p
{
   width: 150px;
   background-color:white;
   text-align: center;
   padding: 10px;
}

#profile
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#profile-texte
{
    font-size: small;
}

#skills
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#skill
{
    font-size: small;
    display: flex;
}

.nom-skill
{
    width: 100px;
    margin-right: 10px;
}

#interests
{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

#partie-droite
{
    width: 65%;
}

#mon-nom
{
    text-align: center;
}

#mon-nom p
{
    font-size: 80px;
    font-weight: bold;
}

.titre-droite
{
    margin-top: 30px;
    margin-bottom: 15px;  
    margin-left: 15px; 
    display: flex; 
}
.titre-droite p 
{
    margin-left: 10px; 
    margin-right: 10px; 
}
.titre-droite hr 
{
    width: 100px;    
    height: 0;
    border-color: rgb(170, 219, 213);
    border-width: 2px;
    align-self: center;
}

#description
{
    margin-top: 20px;
    margin-left: 10px;
}

#titres-regroupés
{
   margin-top: 30px;
   margin-bottom: 15px;
   margin-left: 10px; 
   display: flex;
}

.titre-regroupé
{
    display: flex;
}

.titre-regroupé p 
{
    margin-left: 10px; 
    margin-right: 10px; 
}

.titre-regroupé hr 
{
    width: 50px;
    height: 0;
    border-color: rgb(170, 219, 213);
    border-width: 2px;
    align-self: center;
}

.titre-regroupé:nth-child(1)
{
    margin-right: 30px;
}

#les-languages
{
    margin-left: 10px;
    margin-right: 70px;
    display: inline-block;
}

#les-niveaux-languages
{
    display: inline-block;
    margin-right: 70px;
}

#les-computers
{
    display: inline-block;
}


